* {
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    color: #fff;
    text-align: center;
}

p {
    margin: 0;
}

h1,
h2,
h3 {
    font-family: 'Bangers', cursive;
    letter-spacing: 4px;
    margin: 0;
}

/*   header */

.header {
    height: 25vh;
    color: white;
}

.header img {
    margin-top: 20px;
    width: 20%;
    height: 60%;
}

.header h2 {
    color: black;
    margin-top: 10px;
}

/* nav */

.navbar,
.navbar-default,
.affix-top {
    width: 75%;
}

.navbar {
    background-color: darkorange;
    margin: 0 auto;
    border: none;
    border-radius: 0%;
    border: solid 2px black;
}

.navbar-nav {
    margin: auto;
    float: none;
}

.navbar-nav li {
    display: inline-block;
    float: none;
    margin: 0 25px;
}

.con {
    width: 100%;
    padding:0 0 30px;
}
/* footer */

.foot {
    background: #222;
    border-top: 1px solid #444;
}

.foot ul {
    list-style: none;
    margin-top: 20px;
}

.foot ul li {
    margin: 10px;
    text-align: justify;
}

.foot li a {
    color: chartreuse;
    font-size: 1.4em;

}

.foot li a:hover {
    color: firebrick;
}

@media screen and only (min-width:991px) {
    .about_img img {
        width: 30%;
    }
}
